html {
    font-size: 10px;
}
   
.icon-small {
    width: 1.6rem;
    height: 1.6rem;
}

.icon-medium {
    width: 2.4rem;
    height: 2.4rem;
}

.icon-large {
    width: 3.2rem;
    height: 3.2rem;
}