@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,800;1,400;1,800&display=swap');

html {
  font: 10px "Archivo",Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
